<h1>Hero</h1>
<p>O hero deve conter uma descrição da página e da experiência do Leandro, com uma ilagem ilustrativa. Não precisa ser a imagem do menino feio, mas algo que remeta a profissão de alguma forma. Talvez um botão para entrar em contato e a página do Linkedin. Ao fazer o scroll, deve ir direto à próxima seção</p>