<h1>Navbar</h1>
<p>O navbar deve conter responsividade e recolher a ul em versão mobile em um toggle que mostra/esconde a lista pras demais áreas. Ao clicar, deve realizar um deslize suave para a sessão correspondente. Também deve ter um botão para o pdf do currículo e para uma versão em inglês da mesma.</p>