<h1>Projects</h1>
<p>Uma lista dos projetos atuais mais recentes do Github. Ao fazer o hover no card ou botão base, deve-se abrir um card em que algumas informações do projeto como: título, breve(BREVE) descrição, e a lista de ferramentas em forma de ícone que foram usadas no projeto. Pode haver um link para a lista de projetos completa.</p>